.movies-cardlist {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.movies-cardlist__container {
  max-width: 100%;
  margin: 70px 0 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(364px, 1fr));
  align-items: flex-start;
  grid-auto-flow: row;
  grid-template-rows: min-content;
  column-gap: 24px;
  row-gap: 30px;
}

.movies-cardlist__container_type_preload {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies-cardlist__button-container {
  max-width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 96px;
  display: flex;
  justify-content: center;
}

.movies-cardlist__button {
  width: 100%;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 9px;
  background-color: #2f2f2f;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  align-self: center;
  color: #FFFFFF;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}

.movies-cardlist__button_type_none {
  display: none;
}

.movies-cardlist__button:hover {
  background-color: #3DDC84;
}

.movies-cardlist__subtitle {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
}

@media all and (max-width: 1280px) {
  .movies-cardlist {
    max-width: calc(100% - 140px);
  }
}

@media all and (max-width: 768px) {
  .movies-cardlist {
    max-width: calc(100% - 60px);
  }

  .movies-cardlist__container {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    column-gap: 30px;
    row-gap: 36px;
  }
}

@media all and (max-width: 647px) {
  .movies-cardlist__container {
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 339px));
    row-gap: 20px;
    justify-content: center;
  }
}

@media all and (max-width: 425px) {
  .movies-cardlist {
    max-width: calc(100% - 20px);
    margin-top: 10px;
  }

  .movies-cardlist__container {
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 339px));
    row-gap: 15px;
  }

  .movies-cardlist__button-container {
    padding-bottom: 102px;
  }
}
