.logo {
  width: 38px;
  height: 38px;
  transition: 0.5s;
}

.logo__authform {
  margin-top: 70px;
  margin-left: 0;
}

@media all and (max-width: 768px) {
  .logo__authform {
    margin-top: 232px;
  }
}

@media all and (max-width: 425px) {
  .logo__authform {
    margin: 56px auto 0;
    align-self: center;
  }
}
