.navigation {
  max-width: 1058px;
  display: flex;
  flex-direction: row;
  margin: auto 0;
  align-items: center;
  justify-content: flex-end;
}

.navigation_type_invisible {
  display: none;
}

.navigation__link-landing {
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: transparent;
  transition: 0.4s;
  margin-left: 31px;
}

.navigation__link-landing_type_button {
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #2BE080;
  color: #000000;
}

.navigation__link-landing:not(.navigation__link-landing_type_button):hover {
  opacity: 0.7;
  text-decoration: underline rgba(255, 255, 255, 0.8);
}

.navigation__link-landing_type_button:hover {
  opacity: 0.5;
}

.navigation__link {
  padding: 0;
  margin-right: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration-color: transparent;
  transition: 0.4s;
}

.navigation__link:hover {
  opacity: 0.7;
  text-decoration: underline rgba(255, 255, 255, 0.7);
}

.navigation__link_font_regular {
  font-weight: 400;
}

.navigation__link_place_main {
  color: #FFFFFF;
}

.navigation__link_place_main:hover {
  text-decoration: underline rgba(255, 255, 255, 0.7);
}

.navigation__link-button {
  width: 100px;
  height: 32px;
  align-items: flex-end;
  margin: 0 0 0 auto;
  padding: 8px 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-radius: 20px;
  color: #000000;
  background-image: url("../../images/profile.svg");
  text-decoration: transparent;
  transition: 0.4s;
  margin-left: 28px;
}

.navigation__link-button:hover {
  background-color: #2BE080;
}

.navigation__button {
  display: none;
  width: 44px;
  height: 44px;
  padding: 0;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 0;
  cursor: pointer;
  background-image: url(../../images/menu_burger.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.4s;
}

.navigation__button:hover {
  background-color: #2BE080;
}

.navigation__button_place_main:hover {
  background-color: rgba(43, 224, 128, 0.6);
}

@media all and (max-width: 768px) {
  .navigation__link {
    display: none;
  }

  .navigation__link-button {
    display: none;
  }

  .navigation__button {
    display: block;
  }
}

@media all and (max-width: 425px) {
  .navigation {
    gap: 15px;
  }

  .navigation__button {
    background-image: url(../../images/menu_burger-small.svg);
    width: 40px;
    height: 43px;
  }

  .navigation__link-landing {
    font-size: 10px;
    line-height: 16px;
    margin-left: 0px;
  }

  .navigation__link-landing_type_button {
    padding: 5px 12px;
  }
}
