.aboutme {
  max-width: 1280px;
  padding: 66px 70px 100px 70px;
  display: flex;
  gap: 270px;
  color: #FFFFFF;
}

.aboutme__info {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutme__text-container {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.aboutme__title {
  margin: 0;
  padding: 0;
  padding-bottom: 18px;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.aboutme__subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.aboutme__paragraph {
  margin: 0;
  padding: 0;
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.aboutme__link {
  margin: 0;
  padding: 0;
  text-align: left;
  justify-self: end;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #FFFFFF;
}

.aboutme__avatar {
  max-height: 327px;
  border-radius: 10px;
}

@media all and (max-width: 767px) {
  .aboutme {
    padding: 62px 14px 20px 14px;
    flex-direction: column-reverse;
    gap: 40px;
  }

  .aboutme__title {
    font-size: 30px;
    line-height: 36px;
    padding-bottom: 19px;
  }

  .aboutme__subtitle {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 19px;
  }

  .aboutme__paragraph {
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 41px;
  }

  .aboutme__avatar {
    max-height: 352px;
    max-width: 292px;
  }

}

@media all and (min-width: 768px) and (max-width: 1279px) {
  .aboutme {
    padding: 68px 50px 20px 50px;
    gap: 51px;
  }

  .aboutme__title {
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 16px;
  }

  .aboutme__subtitle {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 20px;
  }

  .aboutme__paragraph {
    font-size: 12px;
    line-height: 18px;
  }

  .aboutme__avatar {
    max-height: 307px;
  }
}
